<!DOCTYPE html>
<html>
  <head>
    <title>Ldyan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="top-bar">
      <ul class="menu">
        <div class="left">
          <li class="button text-link"><%= link_to 'Home', root_path %></li>
        </div>
      </ul>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
