<!DOCTYPE html>
<html>
  <head>
    <title>Ldyan</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <div class="fixed">
      <div class="top-bar nav-bar">
        <ul class="menu">
          <div class="left">
            <li class="button text-link"><%= link_to 'Home', root_path %></li>
          </div>
          <div class="right">
          <% if user_signed_in?  %>
              <li class="button text-link"><%= link_to 'Sign Out', '#' %></li>
          <% else %>
              <li class="button text-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
          </div>
        </ul>
      </div>
      <div id="tool-bar">
      </div>
    </div>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
